@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/* App */
.share-icon svg{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  color: #98A2B3;
}
.options-icon svg {
  color: #98A2B3;
}
.share-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 280px;
  top: 40px;
  border: 1px dashed #D0D5DD;
  border-radius: 50%;
}
.options-icon {
  display: none;
}
.img-bg {
  background-color: #344054BF;
  border-radius: 50%;
}
.img-bg:hover #profile__img {
  opacity: 0.3;
}
.cam-icon {
  display: none;
  position: absolute;
  left: calc(50% - 12px);
  bottom: calc(5px);
  color: #F9FAFB;
}
.img-bg:hover .cam-icon {
  display: inline;
}
/* Button */
.link-btn {
  background-color: #EAECF0;
  color: #101828;
}
.link-btn:hover {
  background-color: #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
.link-btn h1 {
  font-weight: 600;
}

/* Footer */
.footer-text {
  color: #667085;
}
.footer {
  border-top: 1px solid #D0D5DD;
}

/* Share */
.share-text {
  padding: 6px 10px;
  border: 1px solid #D0D5DD;
  border-radius: 4px;
  position: absolute;
  background-color: #D0D5DD;
}

/* Contact */ 
.contact-details {
  width: 720px;
}
.label {
  font-size: 14px;
  font-weight: 500;
  display: block;
  margin-bottom: 6px;
}
.contact input::placeholder, .contact textarea::placeholder {
  font-size: 16px;
  color: #667085;;
}
input[type=text], input[type=email], textarea {
  padding: 10px 0 10px 14px;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  width: 100%;
}
input[type=text]:focus, input[type=email]:focus {
  border: 1.4px solid #84CAFF;
  outline: none;
}
textarea:focus {
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
  outline: none;
}
input[type=checkbox] {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
input[type=checkbox]:hover {
  box-shadow: 0px 0px 0px 2px #D1E9FF;
}
.contact-submit {
  background-color: #1570EF;
  border-radius: 8px;
}
.contact-submit:hover {
  background-color: #175CD3;
}
.success-msg {
  left: calc(50% - 55px);
  bottom: -10px;
}

@media only screen and (max-width: 900px) {
  .options-icon {
    position: absolute;
    display: flex;
    width: 40px;
    height: 40px;
    right: 18px;
    top: 35px;
    border: 1px dashed #D0D5DD;
    border-radius: 50%;
  }
  .share-text{
    top: 80px;
    right: 18px;
  }
  .share-icon {
    display: none;
  }
}