@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/* Button */
.link-btn {
  background-color: #EAECF0;
  color: #101828;
}

/* Footer */
.footer-text {
  color: #667085;
}